.dropzone-div {
  user-select: none;
  cursor: pointer;
  text-align: center;
  padding: 20px;
  border: 3px #4540db dashed;
  width: 60%;
  margin: auto;

  &_default {
    @extend .dropzone-div;
    border: 1px gray solid;
  }
}

.dropzone-content {
  font-size: 1.125rem;
  font-weight: 600;
}