.blog {

    &__header {
        margin-top: 118px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 18px;
        font-size: 3.125rem;

        p {
            margin-bottom: 0;
        }


        &_keywords {
            display: flex;
            align-items: center;
            gap: 17px;
        }
    }

    &__container {
        overflow: hidden;
        margin: 41px 19px 200px 92px;
    }

    &__content {
        margin:0 auto;
        float: left;
        width: 60%;

        &_articles {
            display: flex;
            flex-direction: column;
        }
    }

    &__panel {
        float: right;
        width: 40%;
        display: flex;
        gap: 15px;
        flex-direction: column;

        &_search {
            width: 80%;
            height: 62px;
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.0835598);
            border-radius: 8px;
            display: flex;
            align-items: center;
            padding: 17px 22px;
        }

        &_post {

            &-popular,
            &-recent {
                width: 100%;
                height: 362px;
                box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.0835598);
                border-radius: 8px;
                padding: 17px 35px;

                &_title {
                    text-align: center;
                    font-size: 1.125rem;
                    font-weight: 600;
                }

                &_list {


                    &__title {
                        color: #9B9B9B;
                        text-transform: uppercase;
                        margin: 0;
                    }

                    &__short {
                        color: #111210;
                        font-weight: 600;
                        margin: 0;

                    }
                }
            }

            &-popular {
                &_list {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    &__item {
                        display: flex;
                        align-items: center;
                        padding: 5px;
                        gap: 26px;
                        cursor: pointer;

                        &:hover {
                            font-weight: 600;
                            background-color: #4540DB;
                            border-radius: 10px;

                            >div p {
                                color: #fff;
                            }
                        }

                    }
                }
            }

            &-recent {
                &_list {
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    padding-left: 5px;

                    &__item {
                        cursor: pointer;


                    }
                }
            }

        }

        &_keywords {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            margin-top: 24px;
        }

    }

    &__keyword {

        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.0835598);
        padding: 9px;
        display: flex;
        align-items: center;
        gap: 20px;

        img {
            cursor: pointer;
        }
    }
}